anyio==4.12.1
certifi==2026.2.25
dotenv==0.9.9
grpcio==1.78.1
grpcio-tools==1.78.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
protobuf==6.33.5
python-dotenv==1.2.2
python-telegram-bot==22.6
setuptools==82.0.0
typing_extensions==4.15.0
